DATABASE_URL=postgresql://postgres:postgrespassword@localhost:5432/blobe?schema=public
KAFKA_BROKER=localhost:9092
JWT_SECRET=super-secret-default-key-for-dev
FIREBASE_PROJECT_ID=blobe-app
PORT=3003
SENDGRID_API_KEY=SG.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SENDGRID_FROM_EMAIL=noreply@blobe.app
